<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Things I have to do: </h1>
    <div>
        {% for item in items%}
        <div>
            {% if item.done %}
            <p><strike> {{ item.name }}</strike></p>
            {% else %}
                <p>{{ item.name }}</p>
            {% endif %}
            <a href="/edit/{{ item.id }}"> <button>Edit</button></a>
            <a href="/toggle/{{ item.id }}"> <button>Toggle</button></a>
            <a href="/delete/{{ item.id }}"> <button>Delete</button></a>
        </div>
        {% empty %}
        <div>You have nothing to do</div>
        {% endfor %}
    </div>
    <a href="add">Add an Item</a>
</body>
</html>